extends layout

block links
	link(href='/stylesheets/home.css' rel='stylesheet' type='text/css')


block content
	div.container
		div.row
			h1 Welcome #{username}
		div.row.searchGroup
			form(action='/groups/groupSearch' method='POST' name='groupSearchForm')
				div.form-group
					div.active-cyan-3.active-cyan-4.col
						input#searchBar.form-control(type='text' placeholder='Search for a Group' name='groupInput'   )
					div.col
						input.btn.btn-primary(type='submit')
		div.row
			h2 Your Groups
		if groupNames
			- var n = 0;
			while n < groupNames.length
				div.row
					- var groupLink = '/groups/groupPage/'+ groupNames[n];
					p.col= groupNames[n]
					div.col
						a.btn.btn-primary(href=groupLink role='button') Home Page
					- n++;
		else
			div.row
				p You are not in any groups
				
		div.row
			a.btn.btn-primary(href='/createGroup') Create a Group

		div.row 
			h1 Your Reports

		if reports
			- var jsonSize = reports.length;
			- var i = 0;
			while i < jsonSize
				- var reportURL = '/reports/singleReport/'+reports[jsonSize-i-1]._id;
				div.row
					div.col
						p= reports[jsonSize-i-1].location 
					div.col
						p= reports[jsonSize-i-1].rating
					div.col
						a.btn.btn-primary(href=reportURL) View 
				- i++;
		else
			p You have not made any reports yet
			


