extends layout

block content
    div.row
        div.col
            h1 Report
            p Submitted By: #{report.submittedBy.username}
            p location: #{report.location}	
            p Report Date: #{report.buoyReportDate}
            p Wave Height: #{report.WVHT}
            p Swell Height: #{report.SwH}
            p Swell period: #{report.SwP}
            p Description: #{report.description}

